<div style="display: 'inline';float: 'left';width: '30%';padding-right: '10px';">
    <h4 style="text-align:'center'">Registration Form</h4>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">  
        <br/>
        <table style="padding: auto;" align="center" cellpadding="3">
            <tr>
            
               <td> Employee ID: </td>
               <td><input type="number" formControlName="empId" placeholder="Employee ID"/></td>
            
            </tr>
            
            <tr>
            
                <td>Name: </td>
                <td><input type="test" formControlName="name" placeholder="Name"/></td>
            
            </tr>
            
            <tr>
            
                <td>Gender:</td>
                <td><input type="radio" formControlName="gender" value="male" />Male
                <input type="radio" formControlName="gender" value="female" />Female</td>
            
            </tr>
            
            <tr>
            
                <td>Address: </td>
                <td><input type="textarea" formControlName="address" placeholder="Address"/></td>
            
            </tr >
            
            <tr *ngIf="registrationForm.status=='INVALID'">
                    <td>Form Status:</td>
                    <td>{{registrationForm.status}}</td>
            </tr>
            
            <tr>
            <td colspan="2" align="center"><button type="submit">Submit</button></td>
            </tr>
            
        </table>
    </form>
</div>